## Ps Task 1

### 1.1

In [1]:
print("The first output")

The first output

### 1.2

In [2]:

# create a range of numbers from 2000 to 3601(Doesn't include 3601)
numbers = list(range(2000, 3601))

In [3]:
#
lst = []
for num in numbers:
    if num % 7 == 0 and num % 5!= 0:
        lst.append(num)
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199, 3206, 3213, 3227, 3234, 3241, 3248, 3262, 3269, 3276, 3283, 3297, 3304, 3311, 3318, 3332, 3339, 3346, 3353, 3367, 3374, 3381, 3388, 3402, 3409, 3416, 3423, 3437, 3444, 3451, 3458, 3472, 3479, 3486, 3493, 3507, 3514, 3521, 3528, 3542, 3549, 3556, 3563, 3577, 3584, 3591, 3598]

### 1.3

In [4]:
first_name = input("First Name: ")
last_name = input("Last Name: ")

print(last_name , first_name)

First Name: Vishal
Last Name: ladwa
ladwa Vishal

### 1.4

In [5]:
# Variables
diameter = 12  # in centimeter
radius = diameter / 2
pi = 3.14159265

In [6]:
volume = (4/3) * pi * radius ** 3
print(volume)

904.7786831999999

## Ps Task 2

### 2.1

In [7]:
# If the output need to be in Str fromat

sequence = input("Enter comma seperated Values: ")
print((sequence.split(",")))

Enter comma seperated Values: 23,32,41,52,67,8,99,69,22,11,42,20,11
['23', '32', '41', '52', '67', '8', '99', '69', '22', '11', '42', '20', '11']

In [8]:
## If the Output need to be in Int Format

sequence2 = input("Enter comma seperated values: ")
lst1 = sequence2.split(",")
lst2 = []
for num in lst1:
    lst2.append(int(num))

lst2

Enter comma seperated values: 23,32,41,52,67,8,99,69,22,11,42,20,11

[23, 32, 41, 52, 67, 8, 99, 69, 22, 11, 42, 20, 11]

###  2.2

In [10]:
# Can Modify the number of * you want

number = 5
for num in range(1,number + 1):
    print(num * "*")
    if num == number:
        for a in range(num -1 ,0,-1):
            print(a * "*")

*
**
***
****
*****
****
***
**
*

### 2.3

In [11]:
user_input = input("Input Word: ")
print("Output :",user_input[::-1])

Input Word: AcadGild
Output : dliGdacA

### 2.4

In [12]:
print("""
WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN,! 
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC 
            and to secure to all its citizens
""")

# Not sure whether this is the solution, but it does the job

WE, THE PEOPLE OF INDIA,
    having solemnly resolved to constitute India into a SOVEREIGN,!
        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
            and to secure to all its citizens